$darkblue: hsl(243, 87%, 12%);
$desaturatedblue: hsl(238, 22%, 44%);
$brightblue: hsl(224, 93%, 58%);
$brighterblue: hsl(224, 100%, 68%);
$cyan: hsl(170, 45%, 43%);
$brightercyan: #5cccb4;
$lightgrayblue: hsl(240, 75%, 98%);
$gray: hsl(0, 0%, 75%);
$white: white;
